@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* ====NAVBAR===START===*/

#nav {
    position: fixed;
    background-color: white;
    width: 100%;
}

#menues {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -10rem;
}

#menues ul a {
    color: #2D2F30;
}

#menues_ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-left: 32rem;
    margin-top: -2rem;
    font-family: 'Roboto', sans-serif;
}


/* ====NAVBAR===END===*/

#header_left {
    display: flex;
    flex-direction: row;
    margin-left: 240px;
    margin-top: 2rem;
}

#author_logo {
    width: 3rem;
    height: 3rem;
    background-color: #094B72;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
    margin-left: 8.6rem;
}

#author_logo_h1 {
    margin-top: -0.9rem;
    font-size: 30px;
    font-weight: lighter;
    margin-left: -0.2rem;
    color: white;
}

#author {
    font-weight: bolder;
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-top: 0.5rem;
    cursor: pointer;
}

#search {
    color: #2D2F30;
    margin-left: 5.8rem;
    margin-top: -2.3rem;
    font-size: 1.5rem;
    font-weight: bolder;
}


/* ====NAVBAR===END===*/


/* ====HEADER-TOP===START===*/

#header_top {
    background-color: #F9F8F9;
    height: 1022px;
}

#header_top_h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 76px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #094B72;
    margin-left: 329px;
    margin-top: 10rem;
}

#header_top_p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 158%;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #4F4F4F;
    margin-left: 329px;
}

#header_top_button {
    background: #094B72;
    border-radius: 8px;
    padding: 25px;
    margin-left: 329px;
    color: rgb(253, 244, 244);
    font-family: sans-serif;
    border: none;
    font-weight: bold;
}

#header_top_button:hover {
    transition: 0.2s;
    box-shadow: 6px 6px black;
}

#header_top_button:active {
    transition: 0.1s;
    box-shadow: 6px 6px rgb(255, 255, 255);
}

#header_top_img {
    margin-top: -57.98rem;
    width: 549px;
    height: 973px;
    margin-left: 55rem;
}

#header_top_p2 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.04em;
    color: #8B8C8C;
    margin-left: 329px;
}

#brends {
    margin-left: 329px;
}

#brends img {
    cursor: pointer;
}


/* ====HEADER-TOP===END===*/


/* ====HEADER-BOTTOM===START===*/

#header_bottom {
    background-color: #F2FCFF;
    height: 830px;
}

#header_bottom_left {
    margin-left: 369px;
}

#header_bottom_left_h1 {
    font-family: 'Playfair Display';
    font-style: bold;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.323077px;
    color: #2D2F30;
}

#header_bottom_left_p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #8B8C8C;
}

#header_bottom {
    display: flex;
    flex-direction: row;
}

.continer2_left {
    margin-left: -1%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.continer2_left h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.323077px;
    color: #2D2F30;
}

.continer2_left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #8B8C8C;
}

.con2_top_left {
    background-color: white;
    width: 17.8%;
    height: 250px;
    border-radius: 10px;
    position: absolute;
    margin-left: 39.8rem;
}

.con2_top_left img {
    margin-left: 20px;
    margin-top: 20px;
}

.con2_top_left h4 {
    margin-left: 20px;
    margin-top: 10px;
}

.con2_top_left p {
    margin-left: 20px;
    margin-top: 10px;
    color: #8B8C8C;
}

.continer2_right_top {
    margin-top: 10%;
    width: 50%;
}

.continer2_right h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.323077px;
    color: #2D2F30;
}

.continer2_right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #8B8C8C;
}

.con2_top_right {
    background-color: white;
    position: relative;
    width: 35.8%;
    height: 250px;
    margin-left: 22.5%;
    border-radius: 10px;
}

.con2_top_right img {
    margin-left: 20px;
    margin-top: 20px;
}

.con2_top_right h4 {
    margin-left: 20px;
    margin-top: 10px;
}

.con2_top_right p {
    margin-left: 20px;
    margin-top: 10px;
    color: #8B8C8C;
}

.continer2_right_bottom {
    margin-top: 40%;
    margin-left: -55%;
}

.con2_bottom_left {
    background-color: white;
    width: 57%;
    height: 250px;
    margin-left: -10%;
    margin-top: -5%;
    border-radius: 10px;
}

.con2_bottom_left img {
    margin-left: 20px;
    margin-top: 20px;
}

.con2_bottom_left h4 {
    margin-left: 20px;
    margin-top: 10px;
}

.con2_bottom_left p {
    margin-left: 20px;
    margin-top: 10px;
    color: #8B8C8C;
    font-size: 18px;
}

.con2_bottom_right {
    background-color: white;
    width: 57%;
    height: 250px;
    margin-top: -5%;
    left: 14%;
    margin-bottom: 20%;
    border-radius: 10px;
    margin-right: 2rem;
}

.con2_bottom_right img {
    margin-left: 20px;
    margin-top: 20px;
}

.con2_bottom_right h4 {
    margin-left: 20px;
    margin-top: 10px;
}

.con2_bottom_right p {
    margin-left: 20px;
    margin-top: 10px;
    color: #8B8C8C;
    font-size: 18px;
}

#con3_top {
    background-color: white;
    width: 17.8%;
    height: 250px;
    left: 14%;
    border-radius: 10px;
    margin-top: 30rem;
    margin-left: -51.1rem;
}

.con2_top_right:hover {
    transform: scale(1.1);
    transition: all 0.8s;
}

.con2_top_left:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#con4_top {
    background-color: white;
    width: 17.8%;
    height: 250px;
    border-radius: 10px;
    margin-top: 30rem;
    margin-left: 1%;
}

#con4_top:hover {
    transform: scale(1.1);
    transition: all 0.8s;
}

#con3_top:hover {
    transform: scale(1.1);
    transition: all 0.8s;
}

#con3_top img {
    margin-left: 20px;
    margin-top: 20px;
}

#con3_top h4 {
    margin-left: 20px;
    margin-top: 10px;
}

#con3_top p {
    margin-left: 20px;
    margin-top: 10px;
    color: #8B8C8C;
    font-size: 18px;
}

#con4_top p {
    margin-left: 20px;
    margin-top: 10px;
    color: #8B8C8C;
}

#con4_top img {
    margin-left: 20px;
    margin-top: 20px;
}

#con4_top h4 {
    margin-left: 20px;
    margin-top: 10px;
}

#con4_top p {
    margin-left: 20px;
    margin-top: 10px;
    color: #8B8C8C;
    font-size: 18px;
}

#main_top {
    background: url(/images/BG.png);
    height: 365px;
}

#main_top1 {
    margin-left: 38rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main_top1_h1 {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    margin-left: 14.5rem;
}

#main_top1_p {
    color: white;
    margin-left: 17rem !important;
}

.image {
    margin-left: 4rem;
}

#main2_h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #2D2F30;
}

#main2 {
    background-color: #f4fbff;
}

#clients {
    background-color: #f4fbff;
    width: 30rem;
    width: 100%;
}

#main2_1_h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: -3rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #4F4F4F;
}

#main2_1 {
    background-color: white;
    width: 27%;
    line-height: 24px;
    font-family: 'Poppins';
    background: #C4C4C4;
    border-radius: 5px;
    width: 540px;
    height: 220px;
}